body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

.gameContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.button {
    font-size: 1.5em;
    cursor: pointer;
}

.button-die{
    background-color: pink;
}

.button-der{
    background-color: skyblue;
}

.button-das{
    background-color: green;
}

#feedback {
    font-weight: bold;
}
